---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<(DIPAL)/'
    Priority:        2
  - Regex:           '^<[a-z_]+>'   # C standard library headers 
    Priority:        3
  - Regex:           '^<[^/]+>'     # C++ standard library headers
    Priority:        4
  - Regex:           '^<.+>'        # Other system headers
    Priority:        5
  - Regex:           '.*'           # Everything else
    Priority:        1
---
